@import '../../assets/variables.scss';

.button{
    padding: 12px 8px;
    background-color: white;
    color: $primary;
    border: 1px solid $primary;
    border-radius: 3px;
    cursor: pointer;
    transition: all .1s;

    &:hover, &:focus{
        color: white;
        background-color: $primary;
    }
}